
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradient {
  background: rgba(37,151,183,1);
  background: -moz-linear-gradient(left, rgba(37,151,183,1) 0%, rgba(42,210,190,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,151,183,1)), color-stop(100%, rgba(42,210,190,1)));
  background: -webkit-linear-gradient(left, rgba(37,151,183,1) 0%, rgba(42,210,190,1) 100%);
  background: -o-linear-gradient(left, rgba(37,151,183,1) 0%, rgba(42,210,190,1) 100%);
  background: -ms-linear-gradient(left, rgba(37,151,183,1) 0%, rgba(42,210,190,1) 100%);
  background: linear-gradient(to right, rgba(37,151,183,1) 0%, rgba(42,210,190,1) 100%);
}